.lst-kix_yz60afi3uzyw-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_u1xskgsnqjeg-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_yz60afi3uzyw-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_yz60afi3uzyw-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_yz60afi3uzyw-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_u1xskgsnqjeg-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_yz60afi3uzyw-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_yz60afi3uzyw-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_u1xskgsnqjeg-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_u1xskgsnqjeg-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_yz60afi3uzyw-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_yz60afi3uzyw-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_yz60afi3uzyw-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_xhjxrz3psbfv-8 {
    list-style-type: none;
}
ul.lst-kix_xhjxrz3psbfv-7 {
    list-style-type: none;
}
ul.lst-kix_xhjxrz3psbfv-4 {
    list-style-type: none;
}
ul.lst-kix_372wecfibyc1-8 {
    list-style-type: none;
}
ul.lst-kix_xhjxrz3psbfv-3 {
    list-style-type: none;
}
ul.lst-kix_372wecfibyc1-7 {
    list-style-type: none;
}
ul.lst-kix_xhjxrz3psbfv-6 {
    list-style-type: none;
}
ul.lst-kix_372wecfibyc1-6 {
    list-style-type: none;
}
ul.lst-kix_xhjxrz3psbfv-5 {
    list-style-type: none;
}
ul.lst-kix_372wecfibyc1-5 {
    list-style-type: none;
}
ul.lst-kix_xhjxrz3psbfv-0 {
    list-style-type: none;
}
ul.lst-kix_372wecfibyc1-4 {
    list-style-type: none;
}
ul.lst-kix_372wecfibyc1-3 {
    list-style-type: none;
}
ul.lst-kix_xhjxrz3psbfv-2 {
    list-style-type: none;
}
ul.lst-kix_372wecfibyc1-2 {
    list-style-type: none;
}
ul.lst-kix_xhjxrz3psbfv-1 {
    list-style-type: none;
}
ul.lst-kix_372wecfibyc1-1 {
    list-style-type: none;
}
ul.lst-kix_372wecfibyc1-0 {
    list-style-type: none;
}
.lst-kix_rzpeialmzfx6-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_rzpeialmzfx6-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_rzpeialmzfx6-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_rzpeialmzfx6-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_rzpeialmzfx6-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_u1xskgsnqjeg-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_rzpeialmzfx6-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_u1xskgsnqjeg-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_rzpeialmzfx6-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_u1xskgsnqjeg-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_u1xskgsnqjeg-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_rzpeialmzfx6-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_rzpeialmzfx6-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_u1xskgsnqjeg-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_xz69zvgaa4v9-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_xz69zvgaa4v9-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_x91o64mkwmi3-3 {
    list-style-type: none;
}
ul.lst-kix_x91o64mkwmi3-2 {
    list-style-type: none;
}
ul.lst-kix_x91o64mkwmi3-5 {
    list-style-type: none;
}
ul.lst-kix_x91o64mkwmi3-4 {
    list-style-type: none;
}
.lst-kix_x91o64mkwmi3-0 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_x91o64mkwmi3-1 {
    list-style-type: none;
}
.lst-kix_xz69zvgaa4v9-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_xz69zvgaa4v9-8 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_x91o64mkwmi3-0 {
    list-style-type: none;
}
.lst-kix_xz69zvgaa4v9-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_v3jyuzh8lbvc-5 {
    list-style-type: none;
}
ul.lst-kix_miqi16wgybsc-4 {
    list-style-type: none;
}
ul.lst-kix_v3jyuzh8lbvc-6 {
    list-style-type: none;
}
ul.lst-kix_miqi16wgybsc-3 {
    list-style-type: none;
}
ul.lst-kix_v3jyuzh8lbvc-7 {
    list-style-type: none;
}
ul.lst-kix_miqi16wgybsc-6 {
    list-style-type: none;
}
ul.lst-kix_v3jyuzh8lbvc-8 {
    list-style-type: none;
}
ul.lst-kix_miqi16wgybsc-5 {
    list-style-type: none;
}
ul.lst-kix_miqi16wgybsc-0 {
    list-style-type: none;
}
ul.lst-kix_miqi16wgybsc-2 {
    list-style-type: none;
}
ul.lst-kix_miqi16wgybsc-1 {
    list-style-type: none;
}
ul.lst-kix_v3jyuzh8lbvc-0 {
    list-style-type: none;
}
ul.lst-kix_x91o64mkwmi3-7 {
    list-style-type: none;
}
ul.lst-kix_v3jyuzh8lbvc-1 {
    list-style-type: none;
}
ul.lst-kix_miqi16wgybsc-8 {
    list-style-type: none;
}
ul.lst-kix_x91o64mkwmi3-6 {
    list-style-type: none;
}
ul.lst-kix_v3jyuzh8lbvc-2 {
    list-style-type: none;
}
ul.lst-kix_miqi16wgybsc-7 {
    list-style-type: none;
}
ul.lst-kix_v3jyuzh8lbvc-3 {
    list-style-type: none;
}
ul.lst-kix_x91o64mkwmi3-8 {
    list-style-type: none;
}
ul.lst-kix_v3jyuzh8lbvc-4 {
    list-style-type: none;
}
ul.lst-kix_4sfjr15g64q6-1 {
    list-style-type: none;
}
ul.lst-kix_4sfjr15g64q6-0 {
    list-style-type: none;
}
.lst-kix_jrp0yv1mil1z-3 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_4sfjr15g64q6-8 {
    list-style-type: none;
}
ul.lst-kix_4sfjr15g64q6-7 {
    list-style-type: none;
}
ul.lst-kix_4sfjr15g64q6-6 {
    list-style-type: none;
}
ul.lst-kix_4sfjr15g64q6-5 {
    list-style-type: none;
}
.lst-kix_jrp0yv1mil1z-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_4sfjr15g64q6-4 {
    list-style-type: none;
}
ul.lst-kix_4sfjr15g64q6-3 {
    list-style-type: none;
}
.lst-kix_q8w6usbtdw2v-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_4sfjr15g64q6-2 {
    list-style-type: none;
}
ul.lst-kix_3umc7xlufx33-7 {
    list-style-type: none;
}
ul.lst-kix_3umc7xlufx33-8 {
    list-style-type: none;
}
ul.lst-kix_3umc7xlufx33-5 {
    list-style-type: none;
}
ul.lst-kix_3umc7xlufx33-6 {
    list-style-type: none;
}
.lst-kix_q8w6usbtdw2v-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_3umc7xlufx33-0 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_3umc7xlufx33-0 {
    list-style-type: none;
}
.lst-kix_jrp0yv1mil1z-1 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_3umc7xlufx33-3 {
    list-style-type: none;
}
ul.lst-kix_3umc7xlufx33-4 {
    list-style-type: none;
}
ul.lst-kix_3umc7xlufx33-1 {
    list-style-type: none;
}
.lst-kix_q8w6usbtdw2v-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_3umc7xlufx33-2 {
    list-style-type: none;
}
.lst-kix_3umc7xlufx33-4 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_98hd9pt7g7bq-7 {
    list-style-type: none;
}
ul.lst-kix_98hd9pt7g7bq-8 {
    list-style-type: none;
}
.lst-kix_3umc7xlufx33-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_3umc7xlufx33-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_98hd9pt7g7bq-5 {
    list-style-type: none;
}
.lst-kix_q8w6usbtdw2v-8 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_98hd9pt7g7bq-6 {
    list-style-type: none;
}
ul.lst-kix_98hd9pt7g7bq-3 {
    list-style-type: none;
}
ul.lst-kix_98hd9pt7g7bq-4 {
    list-style-type: none;
}
ul.lst-kix_98hd9pt7g7bq-1 {
    list-style-type: none;
}
ul.lst-kix_98hd9pt7g7bq-2 {
    list-style-type: none;
}
ul.lst-kix_98hd9pt7g7bq-0 {
    list-style-type: none;
}
.lst-kix_x91o64mkwmi3-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_x91o64mkwmi3-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_x91o64mkwmi3-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_x91o64mkwmi3-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_3umc7xlufx33-8 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_dbqzrg2bnrrq-8 {
    list-style-type: none;
}
ul.lst-kix_dbqzrg2bnrrq-6 {
    list-style-type: none;
}
ul.lst-kix_dbqzrg2bnrrq-7 {
    list-style-type: none;
}
ul.lst-kix_dbqzrg2bnrrq-4 {
    list-style-type: none;
}
ul.lst-kix_dbqzrg2bnrrq-5 {
    list-style-type: none;
}
ul.lst-kix_dbqzrg2bnrrq-2 {
    list-style-type: none;
}
ul.lst-kix_dbqzrg2bnrrq-3 {
    list-style-type: none;
}
ul.lst-kix_dbqzrg2bnrrq-0 {
    list-style-type: none;
}
ul.lst-kix_dbqzrg2bnrrq-1 {
    list-style-type: none;
}
.lst-kix_lzd33po26f8c-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_dbqzrg2bnrrq-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_xhjxrz3psbfv-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_q8w6usbtdw2v-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_lzd33po26f8c-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_jrp0yv1mil1z-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_lzd33po26f8c-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_dbqzrg2bnrrq-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_miqi16wgybsc-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_xhjxrz3psbfv-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_dbqzrg2bnrrq-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_xhjxrz3psbfv-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_dbqzrg2bnrrq-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_miqi16wgybsc-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_miqi16wgybsc-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_miqi16wgybsc-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_lzd33po26f8c-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_372wecfibyc1-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_lzd33po26f8c-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_372wecfibyc1-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_xhjxrz3psbfv-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_dbqzrg2bnrrq-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_xhjxrz3psbfv-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_372wecfibyc1-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_372wecfibyc1-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_v3jyuzh8lbvc-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_nwjcx6qwqb28-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_nwjcx6qwqb28-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_nwjcx6qwqb28-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_eywo5t908cpf-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_4sfjr15g64q6-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_xz69zvgaa4v9-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_xz69zvgaa4v9-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_3tm2bh1t3r32-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_u1xskgsnqjeg-8 {
    list-style-type: none;
}
ul.lst-kix_u1xskgsnqjeg-3 {
    list-style-type: none;
}
ul.lst-kix_u1xskgsnqjeg-2 {
    list-style-type: none;
}
ul.lst-kix_u1xskgsnqjeg-1 {
    list-style-type: none;
}
ul.lst-kix_u1xskgsnqjeg-0 {
    list-style-type: none;
}
.lst-kix_eywo5t908cpf-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_u1xskgsnqjeg-7 {
    list-style-type: none;
}
ul.lst-kix_u1xskgsnqjeg-6 {
    list-style-type: none;
}
.lst-kix_3tm2bh1t3r32-1 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_u1xskgsnqjeg-5 {
    list-style-type: none;
}
ul.lst-kix_u1xskgsnqjeg-4 {
    list-style-type: none;
}
.lst-kix_v3jyuzh8lbvc-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_4sfjr15g64q6-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_3tycahcz8l3h-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_q8w6usbtdw2v-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_jrp0yv1mil1z-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_q8w6usbtdw2v-8 {
    list-style-type: none;
}
ul.lst-kix_q8w6usbtdw2v-7 {
    list-style-type: none;
}
ul.lst-kix_q8w6usbtdw2v-6 {
    list-style-type: none;
}
.lst-kix_3tycahcz8l3h-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_q8w6usbtdw2v-5 {
    list-style-type: none;
}
ul.lst-kix_q8w6usbtdw2v-4 {
    list-style-type: none;
}
ul.lst-kix_q8w6usbtdw2v-3 {
    list-style-type: none;
}
.lst-kix_3umc7xlufx33-3 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_q8w6usbtdw2v-2 {
    list-style-type: none;
}
ul.lst-kix_q8w6usbtdw2v-1 {
    list-style-type: none;
}
ul.lst-kix_q8w6usbtdw2v-0 {
    list-style-type: none;
}
.lst-kix_3umc7xlufx33-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_x91o64mkwmi3-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_x91o64mkwmi3-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_uaclegj46s9z-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_uaclegj46s9z-1 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_3tycahcz8l3h-7 {
    list-style-type: none;
}
ul.lst-kix_3tycahcz8l3h-8 {
    list-style-type: none;
}
.lst-kix_uaclegj46s9z-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_3tycahcz8l3h-5 {
    list-style-type: none;
}
ul.lst-kix_3tycahcz8l3h-6 {
    list-style-type: none;
}
ul.lst-kix_3tycahcz8l3h-3 {
    list-style-type: none;
}
ul.lst-kix_3tycahcz8l3h-4 {
    list-style-type: none;
}
.lst-kix_uaclegj46s9z-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_uaclegj46s9z-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_3tycahcz8l3h-1 {
    list-style-type: none;
}
ul.lst-kix_3tycahcz8l3h-2 {
    list-style-type: none;
}
ul.lst-kix_3tycahcz8l3h-0 {
    list-style-type: none;
}
.lst-kix_uaclegj46s9z-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_98hd9pt7g7bq-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_98hd9pt7g7bq-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_98hd9pt7g7bq-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_uaclegj46s9z-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_suxqkadflmqm-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_suxqkadflmqm-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_suxqkadflmqm-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_suxqkadflmqm-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_suxqkadflmqm-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_suxqkadflmqm-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_suxqkadflmqm-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_suxqkadflmqm-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_suxqkadflmqm-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_suxqkadflmqm-0 {
    list-style-type: none;
}
.lst-kix_98hd9pt7g7bq-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_98hd9pt7g7bq-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_3tm2bh1t3r32-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_98hd9pt7g7bq-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_98hd9pt7g7bq-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_98hd9pt7g7bq-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_98hd9pt7g7bq-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_suxqkadflmqm-7 {
    list-style-type: none;
}
ul.lst-kix_suxqkadflmqm-8 {
    list-style-type: none;
}
ul.lst-kix_suxqkadflmqm-5 {
    list-style-type: none;
}
ul.lst-kix_suxqkadflmqm-6 {
    list-style-type: none;
}
ul.lst-kix_suxqkadflmqm-3 {
    list-style-type: none;
}
ul.lst-kix_suxqkadflmqm-4 {
    list-style-type: none;
}
ul.lst-kix_suxqkadflmqm-1 {
    list-style-type: none;
}
ul.lst-kix_suxqkadflmqm-2 {
    list-style-type: none;
}
.lst-kix_4sfjr15g64q6-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_v3jyuzh8lbvc-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_v3jyuzh8lbvc-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_nwjcx6qwqb28-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_nwjcx6qwqb28-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_4sfjr15g64q6-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_v3jyuzh8lbvc-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_nwjcx6qwqb28-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_eywo5t908cpf-0 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_nwjcx6qwqb28-3 {
    list-style-type: none;
}
.lst-kix_3tm2bh1t3r32-4 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_nwjcx6qwqb28-2 {
    list-style-type: none;
}
ul.lst-kix_nwjcx6qwqb28-1 {
    list-style-type: none;
}
ul.lst-kix_nwjcx6qwqb28-0 {
    list-style-type: none;
}
.lst-kix_3tm2bh1t3r32-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_nwjcx6qwqb28-3 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_nwjcx6qwqb28-7 {
    list-style-type: none;
}
ul.lst-kix_nwjcx6qwqb28-6 {
    list-style-type: none;
}
ul.lst-kix_nwjcx6qwqb28-5 {
    list-style-type: none;
}
ul.lst-kix_nwjcx6qwqb28-4 {
    list-style-type: none;
}
.lst-kix_eywo5t908cpf-8 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_nwjcx6qwqb28-8 {
    list-style-type: none;
}
.lst-kix_4sfjr15g64q6-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_3tm2bh1t3r32-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_3tycahcz8l3h-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_4sfjr15g64q6-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_4sfjr15g64q6-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_3tm2bh1t3r32-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_eywo5t908cpf-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_eywo5t908cpf-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_3tycahcz8l3h-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_v3jyuzh8lbvc-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_eywo5t908cpf-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_3tycahcz8l3h-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_3tycahcz8l3h-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_lzd33po26f8c-0 {
    list-style-type: none;
}
ul.lst-kix_lzd33po26f8c-1 {
    list-style-type: none;
}
ul.lst-kix_lzd33po26f8c-2 {
    list-style-type: none;
}
ul.lst-kix_lzd33po26f8c-3 {
    list-style-type: none;
}
ul.lst-kix_lzd33po26f8c-4 {
    list-style-type: none;
}
ul.lst-kix_lzd33po26f8c-5 {
    list-style-type: none;
}
ul.lst-kix_lzd33po26f8c-6 {
    list-style-type: none;
}
ul.lst-kix_lzd33po26f8c-7 {
    list-style-type: none;
}
ul.lst-kix_lzd33po26f8c-8 {
    list-style-type: none;
}
.lst-kix_uaclegj46s9z-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_yz60afi3uzyw-0 {
    list-style-type: none;
}
ul.lst-kix_yz60afi3uzyw-1 {
    list-style-type: none;
}
ul.lst-kix_yz60afi3uzyw-2 {
    list-style-type: none;
}
ul.lst-kix_yz60afi3uzyw-3 {
    list-style-type: none;
}
ul.lst-kix_yz60afi3uzyw-4 {
    list-style-type: none;
}
ul.lst-kix_yz60afi3uzyw-5 {
    list-style-type: none;
}
ul.lst-kix_yz60afi3uzyw-6 {
    list-style-type: none;
}
ul.lst-kix_yz60afi3uzyw-7 {
    list-style-type: none;
}
ul.lst-kix_yz60afi3uzyw-8 {
    list-style-type: none;
}
ul.lst-kix_eywo5t908cpf-6 {
    list-style-type: none;
}
ul.lst-kix_eywo5t908cpf-7 {
    list-style-type: none;
}
ul.lst-kix_eywo5t908cpf-8 {
    list-style-type: none;
}
.lst-kix_372wecfibyc1-0 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_eywo5t908cpf-0 {
    list-style-type: none;
}
ul.lst-kix_eywo5t908cpf-1 {
    list-style-type: none;
}
ul.lst-kix_eywo5t908cpf-2 {
    list-style-type: none;
}
ul.lst-kix_eywo5t908cpf-3 {
    list-style-type: none;
}
ul.lst-kix_eywo5t908cpf-4 {
    list-style-type: none;
}
ul.lst-kix_eywo5t908cpf-5 {
    list-style-type: none;
}
.lst-kix_xhjxrz3psbfv-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_jrp0yv1mil1z-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_xhjxrz3psbfv-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_jrp0yv1mil1z-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_lzd33po26f8c-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_dbqzrg2bnrrq-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_q8w6usbtdw2v-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_xhjxrz3psbfv-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_xhjxrz3psbfv-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_3tm2bh1t3r32-5 {
    list-style-type: none;
}
.lst-kix_dbqzrg2bnrrq-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_3tm2bh1t3r32-4 {
    list-style-type: none;
}
ul.lst-kix_3tm2bh1t3r32-7 {
    list-style-type: none;
}
ul.lst-kix_3tm2bh1t3r32-6 {
    list-style-type: none;
}
ul.lst-kix_3tm2bh1t3r32-8 {
    list-style-type: none;
}
.lst-kix_miqi16wgybsc-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_dbqzrg2bnrrq-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_lzd33po26f8c-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_miqi16wgybsc-1 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_3tm2bh1t3r32-1 {
    list-style-type: none;
}
.lst-kix_lzd33po26f8c-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_dbqzrg2bnrrq-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_3tm2bh1t3r32-0 {
    list-style-type: none;
}
ul.lst-kix_3tm2bh1t3r32-3 {
    list-style-type: none;
}
ul.lst-kix_3tm2bh1t3r32-2 {
    list-style-type: none;
}
.lst-kix_lzd33po26f8c-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_miqi16wgybsc-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_miqi16wgybsc-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_372wecfibyc1-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_372wecfibyc1-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_372wecfibyc1-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_372wecfibyc1-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_miqi16wgybsc-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_v3jyuzh8lbvc-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_v3jyuzh8lbvc-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_nwjcx6qwqb28-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_nwjcx6qwqb28-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_xz69zvgaa4v9-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_4sfjr15g64q6-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_xz69zvgaa4v9-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_3tm2bh1t3r32-3 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_uaclegj46s9z-0 {
    list-style-type: none;
}
ul.lst-kix_uaclegj46s9z-1 {
    list-style-type: none;
}
ul.lst-kix_rzpeialmzfx6-8 {
    list-style-type: none;
}
.lst-kix_3tm2bh1t3r32-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_rzpeialmzfx6-7 {
    list-style-type: none;
}
ul.lst-kix_rzpeialmzfx6-6 {
    list-style-type: none;
}
ul.lst-kix_rzpeialmzfx6-5 {
    list-style-type: none;
}
ul.lst-kix_rzpeialmzfx6-4 {
    list-style-type: none;
}
ul.lst-kix_rzpeialmzfx6-3 {
    list-style-type: none;
}
ul.lst-kix_rzpeialmzfx6-2 {
    list-style-type: none;
}
ul.lst-kix_rzpeialmzfx6-1 {
    list-style-type: none;
}
ul.lst-kix_rzpeialmzfx6-0 {
    list-style-type: none;
}
ul.lst-kix_uaclegj46s9z-4 {
    list-style-type: none;
}
ul.lst-kix_uaclegj46s9z-5 {
    list-style-type: none;
}
ul.lst-kix_uaclegj46s9z-2 {
    list-style-type: none;
}
ul.lst-kix_uaclegj46s9z-3 {
    list-style-type: none;
}
.lst-kix_eywo5t908cpf-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_uaclegj46s9z-8 {
    list-style-type: none;
}
ul.lst-kix_uaclegj46s9z-6 {
    list-style-type: none;
}
ul.lst-kix_uaclegj46s9z-7 {
    list-style-type: none;
}
.lst-kix_4sfjr15g64q6-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_eywo5t908cpf-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_v3jyuzh8lbvc-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_3tycahcz8l3h-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_jrp0yv1mil1z-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_q8w6usbtdw2v-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_3tycahcz8l3h-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_3tycahcz8l3h-8 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_jrp0yv1mil1z-1 {
    list-style-type: none;
}
ul.lst-kix_jrp0yv1mil1z-0 {
    list-style-type: none;
}
ul.lst-kix_jrp0yv1mil1z-3 {
    list-style-type: none;
}
ul.lst-kix_jrp0yv1mil1z-2 {
    list-style-type: none;
}
ul.lst-kix_jrp0yv1mil1z-5 {
    list-style-type: none;
}
ul.lst-kix_jrp0yv1mil1z-4 {
    list-style-type: none;
}
.lst-kix_jrp0yv1mil1z-0 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_jrp0yv1mil1z-7 {
    list-style-type: none;
}
ul.lst-kix_jrp0yv1mil1z-6 {
    list-style-type: none;
}
.lst-kix_q8w6usbtdw2v-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_jrp0yv1mil1z-8 {
    list-style-type: none;
}
.lst-kix_3umc7xlufx33-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_3umc7xlufx33-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_x91o64mkwmi3-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_x91o64mkwmi3-7 > li:before {
    content: "\0025cb  ";
}
li.li_bullet_0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
}
ul.lst-kix_xz69zvgaa4v9-6 {
    list-style-type: none;
}
ul.lst-kix_xz69zvgaa4v9-7 {
    list-style-type: none;
}
ul.lst-kix_xz69zvgaa4v9-4 {
    list-style-type: none;
}
ul.lst-kix_xz69zvgaa4v9-5 {
    list-style-type: none;
}
ul.lst-kix_xz69zvgaa4v9-2 {
    list-style-type: none;
}
ul.lst-kix_xz69zvgaa4v9-3 {
    list-style-type: none;
}
ul.lst-kix_xz69zvgaa4v9-0 {
    list-style-type: none;
}
ul.lst-kix_xz69zvgaa4v9-1 {
    list-style-type: none;
}
.lst-kix_uaclegj46s9z-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_xz69zvgaa4v9-8 {
    list-style-type: none;
}
.doc_content > ol {
    margin: 0;
    padding: 0;
}
.doc_content > table td,
.doc_content > table th {
    padding: 0;
}
.c17 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 523.3pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}
.c9 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Inter";
    font-style: normal;
}
.c13 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c6 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt;
    font-family: "Inter";
    font-style: normal;
}
.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt;
}
.c16 {
    color: #434343;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Inter";
    font-style: normal;
}
.c0 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c18 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center;
    height: 11pt;
}
.c24 {
    color: #666666;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Inter";
    font-style: normal;
}
.c4 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Inter";
    font-style: normal;
}
.c15 {
    padding-top: 16pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c22 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Inter";
    font-style: normal;
}
.c21 {
    padding-top: 14pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c11 {
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c20 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 26pt;
    font-family: "Inter";
    font-style: normal;
}
.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c23 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: left;
}
.c25 {
    margin-left: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
}
.c19 {
    background-color: #ffffff;
    max-width: 523.3pt;
    padding: 36pt 36pt 36pt 36pt;
}
.c8 {
    padding: 0;
    margin: 0;
}
.c10 {
    color: inherit;
    text-decoration: inherit;
}
.c12 {
    height: 0pt;
}
.c26 {
    font-size: 9pt;
}
.c14 {
    background-color: #fff2cc;
}
.c5 {
    font-weight: 700;
}
.c27 {
    height: 11pt;
}
.c7 {
    padding-left: 0pt;
}
.c3 {
    margin-left: 36pt;
}
.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Inter";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Inter";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

.doc_content > li {
    color: #000000;
    font-size: 11pt;
    font-family: "Inter";
}
.doc_content > p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Inter";
}
.doc_content > h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Inter";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.doc_content > h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Inter";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.doc_content > h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Inter";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.doc_content > h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Inter";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.doc_content > h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Inter";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.doc_content > h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Inter";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
}
